.main{
  width: fit-content;
  height: fit-content;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  display: flex;
  flex-flow: nowrap column;
  align-items: center;
  gap: 1rem;
}

.title{
  text-align: center;
  color: whitesmoke;
}

.container{
  width: 400px;
  height: 400px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 8px;
}

.title_turn{
  color: white;
  text-align: center;
}

.turn{
  display: inline-block;
  width: fit-content;
  height: fit-content;
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid white;
  font-weight: bolder;
}

.turn_active{
  background-color: #09f;
}

.modal{
  z-index: 1000;
  width: 250px;
  height: 200px;
  padding: 1rem;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background-color: #222;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  border: 1px solid white;
  border-radius: 8px;
  color: white;
}

.resetGameBtn{
  width: fit-content;
  height: fit-content;
  padding: .4rem;
  border-radius: 8px;
  border: none;
  outline: none;
  font-weight: bolder;
  background-color: #09f;
  color: white;

  &:hover{
    cursor: pointer;
  }
}